/* //  * Universal Selector  */
/*  //  # Id Selector  */
/*  //  . Class Selector  */


/* //  Text Styling in Css  */
.check {
    color: blue;
    background-color: yellow;
    /* opacity: 0.5; */
    font-family: serif;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
    text-decoration: underline;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    /* word-spacing: 1em; */
    text-align: left;
    text-indent: 20px;
    text-shadow: 2px 2px 7px #111111;
}

.box {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid red;

    /* margin: Top  Right   Bottom   Left */
    /* margin:50px 40px 10px 60px ; */

    /* Padding: Top  Right   Bottom   Left */
    padding: 10px;

    /* display: inline; */
    visibility: visible;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    cursor: pointer;
}

ol {
    list-style-type: lower-roman;
    /* list-style-image: url("image.jpg"); */
    /* list-style-position: inside; */
    list-style: none;
}

.check:hover {
    text-align: center;
}